
@{
    ViewData["Title"] = "Error";
}

<h3 class="w-max mx-auto">A ocurrido un error!</h3>

<p class="w-max fs-4 mx-auto">@ViewData["Message"]</p>

<a class="btn btn-success w-max mx-auto" href="/">Volver</a>

