
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="mx-auto w-25 mb-4">A ocurrido un error!</h1>

    <p class="mx-auto w-25 mb-4 fs-4">@ViewData["Message"]</p>

    <a class="btn btn-success mx-auto w-25 mb-4" href="/">Volver</a>
</div>

